<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf8">
<title>テスト</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<main class="new">

  <header class="header">
    <h1 class="header-title">メモアプリ</h1>
  </header>

  <form action="/" method="PUT">
    <input class="form-common input" type="text" name="title" value="">
    <textarea class="form-common textarea" name="message" rows="5"></textarea>
    <input class="submit" type="submit" value="変更">
  </form>

</main>



</body>
</html>