<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf8">
<title>テスト</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<main class="edit">

  <header class="header">
    <h1 class="header-title">メモアプリ</h1>
  </header>

  <form action="/memos/<%= @url %>" method="post">
    <input class="form-common input" type="text" name="title" value="<%= h @title %>">
    <textarea class="form-common textarea" name="text" rows="5"><%= h @text %></textarea>
    <div class="btn-wrap">
      <input type="hidden" name="_method" value="patch">
      <input class="submit" type="submit" value="変更">
    </div>
  </form>

</main>

</body>
</html>
