<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf8">
<title>テスト</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<main class="memo">

  <header class="header">
    <h1 class="header-title">メモアプリ</h1>
    <a href="http://localhost:4567/memos/new" class="header-link">追加する</a>
  </header>

  <section class="memo-wrap">
    <ul class="memo-list">
      <% @memos.each do |frame| %>
        <li class="memo-list-item">
          <a href="/memos/<%= h "#{frame["url"]}" %>" class="memo-item-link">
            <%= h "#{frame["title"]}" %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
</main>

</body>
</html>
