<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf8">
<title>404</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<main class="not-found">

  <h2 class="not-found-title">アクセスされたURLは存在しません。</h2>

</main>

</body>
</html>
