<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf8">
<title>テスト</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<main class="show">

  <header class="header">
    <h1 class="header-title">メモアプリ</h1>
  </header>

  <section class="show-wrap">
    <h2 class="show-title">メモ1</h2>
    <p class="show-text">メモの内容</p>
    <p class="show-text">メモの内容</p>
    <p class="show-text">メモの内容</p>
  </section>
</main>



</body>
</html>